.paginator{
    padding-left: 45%;
}

.listElement{
    background-color: #e1b7aa !important;
    border-color: #be998e !important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

/*media*/
@media (max-width:480px){
    .paginator{
        padding-left: 33%;
    }
}
